* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#show-cards {
    display: none;
}


.show-btn {
    background-color: #111;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 80px;

    opacity: 1;
    visibility: visible;

    transition: 
        opacity 0.3s ease,
        visibility 0.3s ease,
        background-color 0.3s ease,
        transform 0.3s ease;
}

.show-btn:hover {
    background-color: #333;
    transform: translateY(-3px);
}


#show-cards:checked + .show-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.cards {
    display: flex;
    gap: 28px;
    perspective: 1200px;
}


.card {
    width: 170px;
    height: 220px;

    opacity: 0;
    transform: translateY(90px);

    perspective: 1200px;

    transition: 
        opacity 0.6s ease,
        transform 0.6s ease;
}


#show-cards:checked ~ .cards .card {
    opacity: 1;
    transform: translateY(0);
}


#show-cards:checked ~ .cards .card:nth-child(1) {
    transition-delay: 0s;
}

#show-cards:checked ~ .cards .card:nth-child(2) {
    transition-delay: 0.2s;
}

#show-cards:checked ~ .cards .card:nth-child(3) {
    transition-delay: 0.4s;
}


.card-inner {
    width: 100%;
    height: 100%;
    position: relative;

    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}


.card:hover .card-inner {
    transform: rotateY(180deg);
}


.card-front,
.card-back {
    background-color: white;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);

    position: absolute;

    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-front {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.card-back {
    width: 145px;
    height: 155px;

    top: 50%;
    left: 50%;

    padding: 14px;
    text-align: center;

    transform: translate(-50%, -50%) rotateY(180deg);
}

.icon {
    font-size: 38px;
    margin-bottom: 12px;
}

.card-front h3 {
    font-size: 15px;
    margin-bottom: 8px;
    color: #222;
}

.card-front p {
    font-size: 13px;
    color: #aaa;
}

.card-back h3 {
    font-size: 14px;
    margin-bottom: 8px;
    color: #222;
}

.card-back p {
    font-size: 12px;
    line-height: 1.4;
    color: #555;
    margin-bottom: 12px;
}

.card-back strong {
    font-size: 18px;
    color: #1769ff;
}

.badge {
    position: absolute;
    top: 8px;
    right: 10px;

    font-size: 10px;
    font-weight: bold;
    color: #ff5b7f;
}

/* Dòng ghi chú */
.note {
    margin-top: 45px;
    color: #aaa;
    font-size: 13px;
    font-weight: 600;
}